.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
} 

.cabecalho__botao-login {
    border: 1px solid var(--cor-botao-azul);
    color: var(--cor-botao-azul);
    font-weight: 600;
    padding: 1em 3em;
}

.cabecalho__busca {
    display: none;
}

.busca__container {
    display: none;
}



@media screen and (min-width: 768px) {


    .cabecalho {
        padding: 1em 4em;
    }

    .link-home {
        width: 20%;
    }

    .cabecalho__logo {
        width: 100%;
    }
    
    .busca__container {
        background-color: var(--cor-background-cinza);
        border-radius: 50px;
        display: flex;
        padding: 0.5em;
    }
    
    .cabecalho__busca {
        background-color: transparent;
        display: block;
        padding-right: 3em;
    }
    
    .busca__botao {
        background-image: url(../img/Icone.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 1em;
    }
    
    .cabecalho__botao-buscar {
        display: none; 
    }
}

@media screen and (min-width: 1440px) {

    .cabecalho {
        padding: 1em 10em;
    }

    .cabecalho__logo {
        width: 75%;
    }

    .busca__container {
        justify-content: space-between;
        padding: 0 1em;
        width: 50%;
    }

    .cabecalho__busca {
       width: 90%;
    }
    
}