/* @import url(cabecalho.css); */
@import url(rodape.css);
/* @import url(banner.css); */
@import url(index.css);
@import url(login.css);
@import url(produtos.css);
@import url(cadastro-produto.css);
@import url(produto.css);

@import url(cabecalho/busca-botao.css);
@import url(cabecalho/buscaContainer.css);
@import url(cabecalho/cabecalho-botao-buscar.css);
@import url(cabecalho/cabecalho-botao-login.css);
@import url(cabecalho/cabecalho-busca.css);
@import url(cabecalho/cabecalho-logo.css);
@import url(cabecalho/cabecalho.css);

@import url(index/banner/banner.css);
@import url(index/banner/banner-botao.css);
@import url(index/banner/banner-container.css);
@import url(index/banner/banner-subtitulo.css);
@import url(index/banner/banner-titulo.css);



:root {
    --font-principal: 'Raleway';
    --cor-background-cinza: #f2f2f2;
    --cor-botao-azul: #2A7AE4;
    --cor-font-azul: #2A7AE4;
    --cor-font-preto: #464646;
    --cor-rodape-azul: #c6daf5;
    --cor-texto-label: #A2A2A2;
    --cor-texto-botao: #FFFFFF;
    --cor-texto-branco: #FFFFFF;
    --cor-titulo-lista-produto: #464646;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}


.botao--padrao {
    background-color: var(--cor-botao-azul);
    color: var(--cor-texto-botao);
    padding: 1em;
   
}