@import url(cabecalho.css);
@import url(rodape.css);
@import url(banner.css);
@import url(index.css);
@import url(login.css);
@import url(produtos.css);
@import url(cadastro-produto.css);
@import url(produto.css);

:root {
    --cor-botao-azul: #2A7AE4;
    --cor-texto-label: #A2A2A2;
    --cor-texto-botao: #FFFFFF;
    --cor-font-azul: #2A7AE4;
    --cor-font-preto: #464646;
    --cor-texto-branco: #FFFFFF;
    --cor-rodape-azul: #c6daf5;
    --cor-titulo-lista-produto: #464646;
    --font-principal: 'Raleway';
    --cor-background-cinza: #f2f2f2;
    


}

body {
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Raleway', sans-serif;
}


.botao--padrao {
    background-color: var(--cor-botao-azul);
    color: var(--cor-texto-botao);
    padding: 1em;
   
}