.cabecalho__busca {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho__busca {
           background-color: transparent;
           display: block;
           padding-right: 3em;
       }
    }

@media screen and (min-width: 1440px) {
    .cabecalho__busca {
            width: 90%;
       }
    
    }
